#chartArea {
  display: inline-block;
  width: 40%;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  background-color: white;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
