#BioTextareaEditOff {
  width: 75%;
  border: none;
  border-radius: 20px;
  resize: none;
  text-align: center;
  overflow-x: hidden;
  margin: 20px;
}
#BioTextareaEditOn {
  width: 75%;
  border: 1px solid black; /* 테두리 on/off 차이로 수정가능여부 시각화 */
  resize: none;
  border-radius: 20px;
  text-align: center;
  overflow-x: hidden;
  margin: 20px;
}
/* 수정 버튼 */
#BioEditSpan {
  font-size: 22px;
  margin: 10px;
  padding: 10px;
}
#BioEditSpan:hover {
  opacity: 0.5;
}
