@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
/* 버튼 관련 */
:root {
  --page-button-bg-color: #ffffff;
  --page-button-hover-color: #ffffff;
  --page-button-hover-bg-color: #0d6efd;
}

#BoardPaginationDiv {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
}
.BoardPaginationLeftArrow {
  background: var(--page-button-bg-color);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 5px 10px;
}
.BoardPaginationButton {
  background: var(--page-button-bg-color);
  padding: 5px 10px;
}
.BoardPaginationRightArrow {
  background: var(--page-button-bg-color);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 5px 10px;
}
.BoardPaginationLeftArrow:active,
.BoardPaginationButton:active,
.BoardPaginationRightArrow:active,
.BoardPaginationLeftArrow:hover,
.BoardPaginationButton:hover,
.BoardPaginationRightArrow:hover,
.BoardPaginationLeftArrow:focus,
.BoardPaginationButton:focus,
.BoardPaginationRightArrow:focus {
  background: var(--page-button-hover-bg-color);
  color: var(--page-button-hover-color);
  outline: 0;
}
.BoardPaginationLeftArrow:disabled,
.BoardPaginationButton:disabled,
.BoardPaginationRightArrow:disabled {
  opacity: 0.5;
}
