@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

#BoardDetailSection {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

#BoardDetailSection h3 {
  text-align: center;
  border-bottom: 3px solid #999999d0;
  padding-bottom: 25px;
}

#BoardDetailTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #999;
}

#BoardDetailContent {
  padding-top: 10px;
  font-size: 1.2rem;
  line-height: 1.5;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  border-bottom: 1px solid #999;
  white-space: pre-line;
}

#BoardDetailCreateAt {
  font-size: 1rem;
  color: #999;
  float: left;
}
#BoardWriteButton {
  background-color: #2765c5;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  float: right;
  margin-bottom: 20px;
  width: 7%;
  padding: 10px;
  font-family: "Noto Sans KR", sans-serif;
}
