@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

:root {
  --button-color: #ffffff;
  --button-bg-color: #0d6efd;
  --button-hover-bg-color: #025ce2;
}

.BoardListContent {
  border-radius: 5px;
  background-color: white;
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: large;
}
.BoardListContentTitle {
  font-weight: bold;
}
#BoardContentDiv {
  max-width: 66%;
  padding: 10px;
  margin: 0 auto;
}
#BoardWriteButton {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background: var(--button-bg-color);
  color: var(--button-color);

  margin: 20px;
  padding: 0.5rem 1rem;

  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;

  border: none;
  border-radius: 4px;

  display: inline-block;
  width: auto;

  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);

  cursor: pointer;

  transition: 0.5s;
}
#BoardWriteButton:active,
#BoardWriteButton:hover,
#BoardWriteButton:focus {
  background: var(--button-hover-bg-color);
  outline: 0;
}
#BoardWriteButton:disabled {
  opacity: 0.5;
}

.BoardListContent {
  background: #ffffff;

  margin: 20px;
  padding: 0.5rem 1rem;

  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);

  cursor: pointer;

  transition: 0.5s;
}
.BoardListContent:active,
.BoardListContent:hover,
.BoardListContent:focus {
  background: #ffede6;
  outline: 0;
}
.BoardListContent:disabled {
  opacity: 0.5;
}
