.button_set {
    text-align: center;
    margin-top: 50px;
    margin-bottom: -60px;
}

.button {
    border: none;
    font-size: 20px;
    font-weight: 400;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
}
.button:hover {
    transition: 0.8s;
    background-color: black;
    border-radius: 8px;
    color: white;
}