@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

:root {
  --Communication-button-color: #ffffff;
  --Communication-button-bg-color: #0d6efd;
  --Communication-button-hover-bg-color: #025ce2;
}

#Communication {
  margin: 0 auto;
  padding: 20px;
  width: 66%;
  font-family: "Noto Sans KR", sans-serif;
}
#CommunicationReach,
#CommunicationMail {
  margin: 30px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
#CommunicationReachContent {
  display: flex;
  width: 100%;
  padding: 10px;
}
#CommunicationReachDetail {
  margin: 10px;
  text-align: center;
  flex: auto;
}
#CommunicationReachDetail > div {
  font-size: 20px;
}
#CommunicationName,
#CommunicationEmail {
  margin-bottom: 25px;
  width: 33%;
  height: 3.25em;
}
#CommunicationMessage {
  margin-bottom: 25px;
  width: 66%;
  height: 12.25em;
  resize: none;
}
/* 버튼 관련 */
#CommunicationSendButton {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background: var(--Communication-button-bg-color);
  color: var(--Communication-button-color);

  margin: 0;
  padding: 0.5rem 1rem;

  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;

  border: none;
  border-radius: 4px;

  display: inline-block;
  width: auto;

  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  transition: 0.5s;
}
#CommunicationSendButton:active,
#CommunicationSendButton:hover,
#CommunicationSendButton:focus {
  background: var(--Communication-button-hover-bg-color);
  outline: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
#CommunicationSendButton:disabled {
  opacity: 0.5;
}
