@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

:root {
  --Communication-button-color: #ffffff;
  --Communication-button-bg-color: #0d6efd;
  --Communication-button-hover-bg-color: #025ce2;
}

#Communication {
  margin: 0 auto;
  padding: 20px;
  width: 66%;
  font-family: "Noto Sans KR", sans-serif;
}
#CommunicationReach,
#CommunicationMail {
  margin: 30px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
#CommunicationReachContent {
  text-align: center;
}
#CommunicationReachDetail {
  display: inline-block;
  text-align: center;
  margin: 20px;
  font-size: 25px;
}
#CommunicationName,
#CommunicationEmail {
  margin-bottom: 25px;
  width: 33%;
  height: 3.25em;
}
#CommunicationMessage {
  margin-bottom: 25px;
  width: 66%;
  height: 12.25em;
  resize: none;
}
/* 버튼 관련 */
#CommunicationSendButton {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background: var(--Communication-button-bg-color);
  color: var(--Communication-button-color);

  margin: 0;
  padding: 0.5rem 1rem;

  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;

  border: none;
  border-radius: 4px;

  display: inline-block;
  width: auto;

  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  transition: 0.5s;
}
#CommunicationSendButton:active,
#CommunicationSendButton:hover,
#CommunicationSendButton:focus {
  background: var(--Communication-button-hover-bg-color);
  outline: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
#CommunicationSendButton:disabled {
  opacity: 0.5;
}
/* 주의사항 툴팁 부분 */
.tooltip-toggle {
  margin: 10px;
  cursor: pointer;
  position: relative;
}
.tooltip-toggle > svg {
  height: 25px;
  width: 25px;
}
.tooltip-toggle::before {
  position: absolute;
  top: -100px;
  left: -70px;
  background-color: #2b222a;
  border-radius: 5px;
  color: #fff;
  content: attr(aria-label);
  padding: 1rem;
  text-transform: none;
  transition: all 0.5s ease;
  width: 260px;
}

.tooltip-toggle::after {
  position: absolute;
  top: -12px;
  left: 9px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #2b222a;
  content: " ";
  font-size: 0;
  line-height: 0;
  margin-left: -5px;
  width: 0;
}

.tooltip-toggle::before,
.tooltip-toggle::after {
  color: #efefef;
  font-family: monospace;
  font-size: 16px;
  opacity: 0;
  pointer-events: none;
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
}

.tooltip-toggle:focus::before,
.tooltip-toggle:focus::after,
.tooltip-toggle:hover::before,
.tooltip-toggle:hover::after {
  opacity: 1;
  transition: all 0.75s ease;
}
