@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
/* 버튼 관련 */
:root {
  --Dashboard-button-color: black;
  --Dashboard-button-bg-color: white;
  --Dashboard-button-hover-color: white;
  --Dashboard-button1-hover-bg-color: #7831ed;
  --Dashboard-button2-hover-bg-color: #05a081;
  --Dashboard-button3-hover-bg-color: #d3405c;
}
#MyPageChartButton1 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background: var(--Dashboard-button-bg-color);
  color: var(--Dashboard-button-color);

  padding: 0.5rem 1rem;

  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
  text-align: center;
  text-decoration: none;

  /* 투명도로 연하게 설정 */
  border: 1px solid rgba(0, 0, 0, 0.3);
  /* 첫번째 버튼이므로 left 설정 */
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

  display: inline-block;
  width: auto;
}
#MyPageChartButton1:active,
#MyPageChartButton1:hover,
#MyPageChartButton1:focus {
  background: var(--Dashboard-button1-hover-bg-color);
  color: var(--Dashboard-button-hover-color);
  outline: 0;
}
#MyPageChartButton1:disabled,
#MyPageChartButton2:disabled,
#MyPageChartButton3:disabled {
  opacity: 0.5;
}
#MyPageChartButton2 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background: var(--Dashboard-button-bg-color);
  color: var(--Dashboard-button-color);

  padding: 0.5rem 1rem;

  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
  text-align: center;
  text-decoration: none;

  /* 투명도로 연하게 설정 */
  border: 1px solid rgba(0, 0, 0, 0.3);

  display: inline-block;
  width: auto;
}
#MyPageChartButton2:active,
#MyPageChartButton2:hover,
#MyPageChartButton2:focus {
  background: var(--Dashboard-button2-hover-bg-color);
  color: var(--Dashboard-button-hover-color);
  outline: 0;
}
#MyPageChartButton3 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background: var(--Dashboard-button-bg-color);
  color: var(--Dashboard-button-color);

  padding: 0.5rem 1rem;

  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
  text-align: center;
  text-decoration: none;

  /* 투명도로 연하게 설정 */
  border: 1px solid rgba(0, 0, 0, 0.3);
  /* 마지막 버튼이므로 right 설정 */
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;

  display: inline-block;
  width: auto;
}
#MyPageChartButton3:active,
#MyPageChartButton3:hover,
#MyPageChartButton3:focus {
  background: var(--Dashboard-button3-hover-bg-color);
  color: var(--Dashboard-button-hover-color);
  outline: 0;
}
#MyPageChartButtonDiv {
  text-align: center;
}
#MyPageChartButtonTotal {
  font-size: 36px;
}
/* 그래프 관련 */
#MyPageChartDiv {
  width: 90%;
  margin: 0 auto;
}
#MyPageDashboard {
  width: 66%;
  margin: 50px auto;
  padding: 25px;
  /* 테두리 설정 */
  border: 1px solid black;
  border-radius: 20px;
}
