#MyPageDashboard {
  width: 50%;
  margin: 50px auto;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 5px 18px -7px rgba(0, 0, 0, 1);
}
/* 그래프 관련 */
#MyPageViewDiv {
  width: 100%;
  margin: 0 auto;
  font-size: 32px;
  text-align: center;
}
