#MyPageDashboard {
  width: 50%;
  margin: 50px auto;
  padding: 25px;
  /* 테두리 설정 */
  border: 1px solid black;
  border-radius: 20px;
}
/* 그래프 관련 */
#MyPageChartDiv {
  width: 90%;
  margin: 0 auto;
}
