body {
  background-color: #fafafa;
}

.NavMenu {
  list-style-type: none;
  vertical-align: top;
  margin: 20px;
  display: flex;
  float: right;
}

.NavMenuTitle {
  border: 0;
  background-color: transparent;
  margin-right: 10px;
  font-weight: bold;
}
#SubLogo {
  list-style-type: none;
  vertical-align: top;
  margin: 20px;
  display: flex;
  float: left;
  font-size: 50px;
  font-weight: bold;
  font-family: "Palatino Linotype";
  cursor: pointer;
}
#SubHeaderLayout {
  margin-bottom: 100px;
}

.SideBlock {
  width: auto;
  max-height: 300px;
  position: fixed;
  right: 0rem;
  padding: 7px;
  margin: auto, 0;
  margin-right: 100px;
  overflow-y: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
  z-index: 10;
}

@media screen and (max-width: 1618px) {
  .SideBlock {
    display: none;
  }
}

.SideBlock::-webkit-scrollbar {
  display: none;
}

.SideBlock div {
  display: flex;
  flex-direction: column;
}

.SideBlock span {
  cursor: pointer;
}
