#FAQContentOutter {
  margin: 0 auto;
  padding: 20px;
  width: 66%;
  font-family: "Noto Sans KR", sans-serif;
}
#FAQContentInner {
  margin: 30px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

#FAQPanel {
  background: #fbfbfb;
}
