.body {
  margin-left: 150px;
  margin-right: 150px;
}

.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dbdbdb;
  justify-content: space-between;
  background-color: beige;
}

.header > h2 {
  margin-left: 20px;
}

header > nav {
  width: 300px;
  height: 100%;
}

.header_li {
  font-size: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 10px;
}
