.floating {
  position: fixed;
  right: 0px;
  bottom: 0px;
  text-align: center;
  margin: 40px;
  margin-bottom: 100px;
  width: 80px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.floating:hover {
  transition: 0.8s;
  font-weight: bold;
  color: #adb5bd;
}

.delete-button {
  position: fixed;
  right: 0px;
  bottom: 0px;
  text-align: center;
  margin: 40px;
  margin-bottom: 100px;
  width: 80px;
  height: 60px;
}
