.floating {
    position: fixed; 
    right: 0px;
    bottom: 0px; 
    text-align:center;
    margin: 40px;
    margin-bottom: 100px;
    background-color: black;
    border: none;
    color: aliceblue;
    border-radius: 50px;
    width: 80px;
    height: 60px;
    font-weight: bold;
  }

  .floating:hover {
    background-color: white;
    color: black;
    transition: 0.8s;
    font-weight: bold;
    border: 1px solid black;
  }


