.login {
  text-align: center;
}

.custom-modal {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 30px;
  width: 20%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}

.but {
  margin-bottom: 10px;
  width: 100%;
  height: 7%;
}

.login-form input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 20px;
}
