.Title{
    /*메인 페이지 타이틀*/
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 0px;
    font-size: 100px;
    font-weight: bold;
    font-family: 'Palatino Linotype';
    text-align: center;
    cursor: pointer;
}
.NavMenu{
    /*메인 페이지 상단 버튼 정렬*/
    list-style-type: none;
    vertical-align: top;
    margin : 20px;
    display: flex;
    float :right
    
}

.NavMenuTitle{
    /*메인 페이지 상단 버튼 디자인틀*/
    border: 0;
    background-color: transparent;
    margin-right: 10px;
    font-weight: bold;
}
