  
  .banner_img:hover:after,
  .banner_img:hover > .hover_text
  {
    display:block;
  }
  .banner_img:after,.hover_text{
    display:none;
  }
  .banner_img:after{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
  }
  .banner_img {
    overflow: hidden;
  }
  
  .banner_img:hover img{
    transform: scale(1.2);
    transition: 1.3s;
  }
  .hover_text {
    position: absolute;
    color: #fff;
    background-color: #69696933;
    width: 100%;
    text-align: center;
    vertical-align: bottom;
    z-index: 20;
    font-weight: 500;
    font-size: 20px;
	  top: auto;
	  left: 50%;
    transform: translate( -50%, -100%);
    
  }

  /* 카테고리 기능 */

  .category {
    text-align: right;
    margin-bottom: 20px;
  }

  .category_box {
    height: 40px;
    width: 140px;
    border-radius: 10px;
    border-color: darkgrey;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
  }

  

