.membership_page {
  min-height: 100vh; /* 최소 높이 설정 */
  width: 100%;
  background: url("../image/membership_background.jpg");
  background-size: cover;
  background-position: center; /* 이미지를 중앙에 위치시킴 */
  background-repeat: no-repeat; /* 이미지를 반복하지 않음 */
}
.membership_form {
  display: block;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 20px;
  width: 100%;
  flex-grow: 1;
  text-align: center;
  height: 100%;
  min-height: 500px; /* 최소 높이 설정 */
}

.membership_form h1 {
  margin-top: 4.4vh;
  margin-right: 15px;
  text-align: center;
  margin-bottom: 20px;
  padding: 20px;
  font-size: 100px;
  font-weight: bold;
  font-family: "Palatino Linotype";
  cursor: pointer;
  color: white;
}

.membership_form h2 {
  text-align: center;
  color: white;
  margin-bottom: 30px;

  text-transform: uppercase;
  font-size: 26px;
  letter-spacing: 1px;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 16px 0;
  grid-gap: 22px;
}
.membership_form h2:after,
.membership_form h2:before {
  content: " ";
  display: block;
  border-bottom: 2px solid #ccc;
}

.membership_form_input {
  width: 400px;
  padding: 10px;
  margin: 0 auto 15px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.membership_form button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background: #0d6efd;
  color: #ffffff;

  margin: 0 10px;
  padding: 0.5rem 1rem;

  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;

  border: none;
  border-radius: 4px;

  display: inline-block;
  width: auto;

  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  transition: 0.5s;
}

.membership_form button:hover {
  background: #025ce2;
}
.NavMenu {
  font-size: 16px;
}
.gender-input {
  padding-bottom: 10px;
  color: #fff;
  font-size: 1.2rem;
}

@media only screen and (max-width: 600px) {
  .membership_form input {
    width: 80%;
  }

  .membership_form h1 {
    font-size: 60px;
  }

  .membership_form h2 {
    font-size: 20px;
  }
}
