.member {
  border: 1px solid #000;
  margin: 200px auto 0;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}
.member input {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  font-size: 15px;
  border: 1px solid #000;
  box-sizing: border-box;
}
