/* 상단 여백 */
.swiper-slide {
  background: #fff;
  background-size: cover;
  background-position: center;
  justify-content: center;
}

/* 하단 이미지 */
.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* 상단 이미지 */
.MySwiperTop {
  height: 75vh;
  width: 150vh;
  overflow: hidden;
  margin: 0 auto;
}
/* 메인 이미지 슬라이드 */
.mySwiper2 {
  /* height: 75vh;
  width: 105vh; */
  margin-top: 40px;
  width: 105vh;
  height: 75vh;
  object-fit: cover;
  border-radius: 10px;
}
/* 하단 미리보기 이미지 슬라이드 */
.mySwiper {
  height: 15vh;
  width: 105vh;
  box-sizing: border-box;
  padding: 10px 0;
  margin-bottom: 150px;
}
/* 하단 미리보기 이미지 */
.mySwiper .swiper-slide {
  width: 15%;
  height: 100%;
  opacity: 0.3;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image_delete_button {
  background-color: rgba(0, 0, 0, 0);
  color: slategrey;
  font-size: 25px;
  border: none;
  z-index: 1000;
  font-weight: bold;
}

.image_delete_button:hover {
  transform: scale(1.2); /* transform 속성 추가 */
}

.images_button {
  float: right;
}
.images_button button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 20px;
  font-weight: bold;
  transition: transform 0.2s ease-in-out;
}

.images_button button :hover {
  transform: scale(1.2);
}

/* 미디어 쿼리 */
@media only screen and (max-width: 1024px) {
  .MySwiperTop {
    width: 100vw;
  }

  .mySwiper2 {
    width: 100vw;
  }

  .mySwiper {
    width: 100vw;
  }

  .mySwiper .swiper-slide {
    width: 20%;
  }

  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }

  .MySwiperTop .image-container {
    width: 100vw;
  }
}

@media only screen and (max-width: 768px) {
  .MySwiperTop {
    height: 50vh;
  }

  .mySwiper2 {
    height: 50vh;
  }

  .mySwiper {
    height: 10vh;
    margin-bottom: 50px;
  }

  .mySwiper .swiper-slide {
    width: 25%;
  }

  .MySwiperTop .image-container {
    width: 100vw;
  }
}
