.mypage_header {
  /* 마이페이지 헤더 phopo 글씨 크기*/
  font-size: 30px;
}

.mypage_menu {
  /* 마이페이지 메뉴 css*/
  text-align: center;
  list-style: none;
  font-size: 25px;
}
.mypage_menu > a {
  /* 마이페이지 메뉴안에 Han Yonjae 글씨 css */
  text-decoration: none;
  color: black;
  font-size: 50px;
  font-weight: 900;
}

.mypage_menu > button {
  /* 마이페이지 메뉴 버튼 css */
  /* border: none; */
  /* background-color: rgba(0, 0, 0, 0); 배경 투명색 */
  margin-right: 10px;
  margin-left: 10px;
  width: 110px;
  height: 50px;
  font-weight: bold;
  font-size: medium;
  transition-duration: 0.1s;
}
/* 한줄소개 */
.AboutMe {
  text-align: center;
  margin-top: 40px;
  font-weight: bold;
  color: #a0a0a0;
}

/* 마이페이지 sns 아이콘 */
.Icon_set {
  text-align: center;
  margin-top: 40px;
}
/* 마이페이지 sns 아이콘 */
.Icon {
  margin: 30px;
}
/* 통계 */
.stat_set {
  text-align: center;
  margin-top: 20px;
}

.stat {
  display: inline-block;
  margin-left: 40px;
  margin-right: 40px;
  cursor: pointer;
}

.stat_1 {
  font-weight: 400;
  font-size: 40px;
  margin-top: -20px;
  color: black;
}

.stat_2 {
  color: #a0a0a0;
  font-weight: 600;
}

.slider_img {
  margin: auto;
  margin-top: 30px;
  display: block;
  width: 50%;
}

.button_active {
  /* 마이페이지 메뉴 버튼 클릭시 색 변경 */
  font-weight: bold;
  transition-duration: 0.1s;
  display: inline;
}

.button_active:active {
  /* 마이페이지 메뉴 버튼 클릭시 색 변경 */
  color: lightsteelblue;
}

.profile_author {
  /* 마이페이지 작가소개 css <bio.js> */
  text-align: center;
  display: block;
  margin-top: 100px;
  border-radius: 20%;
}

.profile_author > div > img {
  /* 마이페이지 작가소개 사진 css <bio.js> */
  border-radius: 20%;
  width: 500px;
}

.profile_author > p {
  /* 마이페이지 작가소개 글 css <bio.js> */
  margin-left: 400px;
  margin-right: 400px;
  display: block;
  
}
