.modal_buttons button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background: #0d6efd;
  color: #ffffff;

  margin: 0 10px;
  padding: 0.5rem 1rem;

  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;

  border: none;
  border-radius: 4px;

  display: inline-block;
  width: auto;

  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  transition: 0.5s;
}
.modal_buttons button:active,
.modal_buttons button:hover,
.modal_buttons button:focus {
  background: #025ce2;
  outline: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.modal_buttons button:disabled {
  opacity: 0.5;
}

.preview_main {
  margin: 0 auto;
  margin-top: 100px;
  background-color: white;
  max-width: 600px;
  max-height: 80%;
  height: 80%;
  border: 1.5px solid #ccc;
  border-radius: 20px;
}

.modal_title {
  padding: 7.5px;
  font-size: 15px;
  text-align: center;
  border-bottom: solid 1px #ccc;
}

.modal_category {
  margin-top: 10px;
  margin-left: 20px;
}

.modal_category > label {
  margin-right: 10px;
  font-size: 15px;
}

.modal_category > select {
  font-size: 15px;
}

/* 이미지 */
.preview_img {
  height: 100%;
  width: 100%;
  max-width: 600px;
  max-height: 450px;
  min-width: 600px;
  /* min-height: 450px;  */
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

/* 버튼 위치 */
.modal_buttons_wrapper {
  position: fixed;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 600px;
  z-index: 1;
}

.modal_buttons {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1.5px solid #ccc;
  border-top: none;
}

.modal_text {
  width: 100%;
  max-width: 558px;
  min-height: 150px;
  font-size: 14px;
  border: 1px solid #ccc;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
