*,
*::before,
*::after {
  box-sizing: border-box;
}

.profile_main {
  margin-left: 400px;
  margin-right: 400px;
}

.image {
  margin-left: 10px;
  margin-right: 48px;
  margin-top: 32px;
  float: left;
  display: block;
}

.profile {
  display: flex;
  padding: 21px 16px;
  height: 90px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.profile_state {
  display: flex;
  padding: 21px 16px;
  height: 90px;
  margin-bottom: 10px;
}

.profile_state .number {
  font-size: 19px;
  font-weight: bold;
}

.profile_state .item {
  display: inline-block;
  line-height: 1.5;
  margin-right: 130px;
  cursor: pointer;
}

.profile-state {
  margin-top: 2.3px;
}

.profile_button {
  border: none;
  transition-duration: 0.1s;
  border-radius: 5px;
  background-color: #dee2e6;
  line-height: 28px;
  padding: 0px 32px;
  margin-left: 30px;
  font-size: 16px;
}

.profile_button:active {
  background-color: #adb5bd;
}

.profile .profile_state .profile_bio {
  float: left;
  width: calc(66.666% - 2rem);
}

.profile_id {
  display: inline-block;
  font-weight: 300;
  font-size: 20px;
}

.profile_setting {
  margin-left: 30px;
}

.profile_bio {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 36px;
  margin-left: 220px;
}

.body {
  margin-left: 150px;
  margin-right: 150px;
}

.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dbdbdb;
  justify-content: space-between;
}

.header > h2 {
  margin-left: 20px;
}

header > nav {
  width: 300px;
  height: 100%;
}

.header_li {
  font-size: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 10px;
}
