#menuicon {
  display: none;
}

#menuicon + label {
  display: block;
  margin: 30px;
  width: 60px;
  height: 50px;
  position: relative;
  right: 0;
  cursor: pointer;
}

#menuicon + label span:nth-child(1) {
  top: 0;
}
#menuicon + label span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
} /* 비슷하게 사용할 수 있는 style top:calc(50% - 2.5px); margin-top:-2.5px;*/
#menuicon + label span:nth-child(3) {
  bottom: 0;
}
#menuicon:checked + label {
  z-index: 2;
}
#menuicon:checked + label span {
  background: #fff;
}
#menuicon:checked + label span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
#menuicon:checked + label span:nth-child(2) {
  opacity: 0;
}
#menuicon:checked + label span:nth-child(3) {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}
.sidebar {
  width: 300px;
  height: 100%;
  background: wheat;
  position: fixed;
  top: 0;
  right: -300px;
  z-index: 1;
  transition: all 0.35s;
}
#menuicon:checked + label + div {
  right: 0;
}
